# Django settings
SECRET_KEY = 'SOME_SECRET_KEY'
DEBUG = True
DJANGO_SETTINGS_MODULE = 'core.settings.develop'
PROJECT_NAME = 'ellearn'

# Database
DB_ENGINE = 'django.db.backends.postgresql_psycopg2'
DB_NAME = 'ellearn'
DB_USER = 'el_admin'
DB_PASSWORD = 'password'
DB_HOST = 'localhost'
DB_PORT = '5432'

# Celery and redis
REDIS_URL = 'redis://localhost:6379'
CELERY_BROKER_URL = 'redis://localhost:6379'

# Gmail SMTP settings
EMAIL_HOST = ''
EMAIL_PORT = ''
EMAIL_USE_TLS = 1
EMAIL_USE_SSL = 0
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
DEFAULT_FROM_EMAIL = 'Ellearn'
SERVER_EMAIL = ''